doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Aim game
		link(rel="stylesheet", href="styles.css")
		link(rel="shortcut icon", href="favicon.png")
	body
		h1.title Aim game!
		script(src="app.min.js")